*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  overflow-y: overlay;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

section {
  overflow-x: overlay;
}

/* width */
.row::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
}

section::-webkit-scrollbar {
  height: 4px;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
}

/* Track */
.row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 20px;
}

section::-webkit-scrollbar {
  box-shadow: inset 5px 0 0 transparent;
  border-radius: 20px;
}

/* Handle */
.row::-webkit-scrollbar-thumb, section::-webkit-scrollbar {
  background: var(--clr-background-light);
  border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: var(--clr-font-dark);
  overflow: hidden;
}
#app nav {
  flex: 1;
  height: 100%;
  background-color: #272525;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#app nav .banner {
  flex: 1;
  padding: 10px;
}
#app nav .banner img {
  max-height: 40px;
}
#app nav .nav-items {
  flex: 8;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}
#app nav .nav-items li {
  position: relative;
  margin: 3px 0;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-color: grey;
  cursor: pointer;
}
#app nav .nav-items li span {
  color: var(--clr-font-dark);
  font-weight: 999;
  font-size: 1.75em;
}
#app nav .nav-items li span, #app nav .nav-items li .icon {
  transition: 0.8s ease;
}
#app nav .nav-items li .icon {
  position: absolute;
  right: 12px;
  width: 2em;
  height: 2em;
  background-color: #760b76;
  border-radius: 50%;
}
#app nav .nav-items li:hover span {
  padding-left: 24px;
}
#app nav .nav-items li:hover .icon {
  background-color: #da17da;
}
#app nav .bottom {
  flex: 0.5;
  margin: 10px;
  height: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in;
  border: none;
  background-color: #272525;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 2px 2px rgba(255, 255, 255, 0.5);
}
#app nav .bottom span {
  font-size: 1.5em;
  font-weight: 600;
}
#app nav .bottom:hover {
  background-color: #760b76;
  color: #fff;
  box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 0.5), 0 0 0 0 rgba(255, 255, 255, 0.5);
}
#app section {
  flex: 7;
  padding: 6px;
  width: 100%;
  overflow-x: overlay;
  overflow-y: hidden;
  white-space: nowrap;
}
#app section .table-container {
  display: inline-block;
  height: 100%;
  overflow-x: hidden;
  background-color: #505050;
  border-radius: 10px;
  margin-right: 12px;
  position: relative;
}
#app section .table-container .table-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 12px;
  min-width: 226px;
  background-color: #272525;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#app section .table-container .table-header h1, #app section .table-container .table-header .row-menu {
  font-size: 1.5em;
}
#app section .table-container .table-header .row-menu {
  margin-left: auto;
}
#app section .table-container .table-body {
  display: flex;
  min-width: 250px;
  height: 100%;
}
#app section .table-container .table-body .row {
  width: 250px;
  height: 100%;
  overflow-y: overlay;
}
#app section .table-container .table-body .row .row-object {
  height: 200px;
  border-radius: 10px;
  background-color: var(--clr-background-light);
  color: var(--clr-font-dark);
  margin: 12px 12px;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
}
#app section .table-container .table-body .row .row-object .row-object-header {
  display: flex;
  width: 100%;
}
#app section .table-container .table-body .row .row-object .row-object-header span {
  margin-left: auto;
  color: #760b76;
  font-size: 1.5em;
}
#app section .table-container .table-body .row .row-object .row-object-body {
  flex-grow: 1;
  padding: 0px;
  font-size: 1.2em;
  font-weight: 600;
  color: #272525;
}
#app .fixed {
  position: fixed;
}/*# sourceMappingURL=app.css.map */